body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #343a40;
    color: white;
}

header nav a, footer p {
    color: white;
}

header nav a {
    margin-right: 15px;
}

.main {
    padding: 20px;
}

.list-group-item {
    cursor: pointer;
}
