{% extends "base.html" %}

{% block content %}
<h1>Local Menu</h1>
<div class="list-group">
    <button class="list-group-item list-group-item-action" onclick="performLocalAction('create_file')">Create File</button>
    <button class="list-group-item list-group-item-action" onclick="performLocalAction('create_folder')">Create Folder</button>
    <button class="list-group-item list-group-item-action" onclick="performLocalAction('show_date')">Show Date</button>
    <button class="list-group-item list-group-item-action" onclick="performLocalAction('show_calendar')">Show Calendar</button>
    <button class="list-group-item list-group-item-action" onclick="performLocalAction('install_software')">Install Software</button>
</div>
<div id="result" class="mt-3"></div>
{% endblock %}
