<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Linux Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>Linux Menu</h1>
        </div>
      </div>
    </header>
    <div class="container">
      <form action="{{ url_for('local_create_file') }}" method="post">
        <label for="file_name">Create a File:</label>
        <input type="text" name="file_name">
        <button type="submit">Create</button>
      </form>
      <form action="{{ url_for('local_create_folder') }}" method="post">
        <label for="folder_name">Create a Folder:</label>
        <input type="text" name="folder_name">
        <button type="submit">Create</button>
      </form>
      <form action="{{ url_for('show_date') }}" method="post">
        <button type="submit">Show Date</button>
      </form>
      <form action="{{ url_for('show_calendar') }}" method="post">
        <button type="submit">Show Calendar</button>
      </form>
      <form action="{{ url_for('install_software') }}" method="post">
        <label for="software_name">Install Software:</label>
        <input type="text" name="software_name">
        <button type="submit">Install</button>
      </form>
      <form action="{{ url_for('show_ip') }}" method="post">
        <button type="submit">Show IP</button>
      </form>
      <form action="{{ url_for('ssh_execute') }}" method="post">
        <label for="remote_ip">Remote IP:</label>
        <input type="text" name="remote_ip">
        <label for="remote_user">Remote User:</label>
        <input type="text" name="remote_user">
        <label for="remote_command">Command:</label>
        <input type="text" name="remote_command">
        <button type="submit">Execute</button>
      </form>
      <form action="{{ url_for('execute') }}" method="post">
        <label for="command">Custom Command:</label>
        <input type="text" name="command">
        <button type="submit">Execute</button>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
